/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Your Name!
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      2.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}
#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}
.button {
    background: none repeat scroll 0 0 #45ac9d;
}

/* featured work on homepage */
.featured-work .site-content {
    margin: 6em auto;
}
.featured-work h4 {
    font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.25em;
}
.homepage-featured-work {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}
.individual-featured-work {
    margin-bottom: 2em;
}
.individual-featured-work a {
    display: block;
}
.individual-featured-work h3 {
    font: 500 1em/1.75 'Open Sans', Arial, sans-serif;
}
/* featured work on homepage */

/* blog post on homepage */
.blog-post h4 {
    font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 .5em;
}
.blog-post h3 {
    font-size: 1.5em;
}
.read-more-link {
    font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    color: #45ac9d;
    text-transform: uppercase;
}

/* blog post on homepage */

/* about page  */

.about-page h2 {
color: white;
}

.services {
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    text-align: left;
    width: 100%;
    display: inline-block;

}

.services h1, h2 {
    text-align: center;
}

.services h3, p {
    text-align: left;
}

.service-images {
    width: 150px;
    height: 150px;
    float: right;
    margin-top: 40px;
  }

.about-description {
    width: 70%;
    float: left;
}

.about-services {
    list-style: none;
    margin-left: auto;
}

.contact-button h2 {
    float: left;
    margin-left: 100px;
}
.cbutton {
    float: right;
    margin-top: 30px;
    margin-right: 100px;
}

.cbutton {
    font: 700 1em/1 'Montserrat', 'OpenSans', Arial, sans-serif;
    color: #fff;
    background: #45ac9d;
    padding: 1em 3.75em;
    text-align: center;
}

/* END about page  */


/*Case Studies*/
.case-study {
    clear: both;
}
.case-study h2 {
    font: 700 1.5em/1.5 'Open Sans Semibold';
}
.case-study h4 {
    font: 400 .875em/1.25 'Open Sans';
    margin: 1em 0;
}
.case-study h4 span {
    color: #878787;
}
.case-study-sidebar p {
    margin: 2em 0;
}
div.case-study-images {
    margin-top: 3em;
}
div.case-study-images img {
    width: 100%;
    margin-bottom: 3.125em;
    border: 1px solid #dddddd;
}
/*END Case Studies*/

/* Media Queries */
@media (min-width: 768px) {
    .featured-work .site-content {
        margin: auto auto 3em;
    }
    .individual-featured-work {
        float: left;
        width: 33%;
        padding: 0 .5em;
    }
    .blog-post {
        width: 50%;
        float: left;
        margin-bottom: 2em;
    }
    aside.case-study-sidebar {
        float: left;
        width: 34%;
        margin: 0 6% 0 0;
    }
    div.case-study-images {
        float: left;
        width: 60%;
    }
}

/* END Media Queries */


/* Social media navigation */

.social-media-nav ul {
    list-style: none;
}

.social-media-navigation img {
    width: 30px;
    margin: 5px;
    }

.social-media-navigation {
    display: contents;
    width: 20%;
}

.social-media-menu li {
  display: inline-block;
}

.social-media-menu {
    list-style: none;
}

/* END Social media navigation */



/*CONTACT US PAGE STYLE*/
#nf-field-1-container, #nf-field-2-container{
    width: 462px;
    display: inline-block;
    }

#nf-field-1-container{
    margin-right: 15px;
    }

#nf-field-2-container {
    margin-left: 15px;
    }

#nf-field-4-container {
        color: #45ac9d;
        background: #45ac9d;
        float: right;
}
#nf-field-4 {
        color: #fff;
        background: #45ac9d;
}

/*END OF CONTACT US PAGE STYLE*/

/* 404 Page */

#error-page {
    background: url("img/404-image.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
}
#error-page h1.page-title {
    color: #000;
    font-family: 'montserrat';
    font-size: 48px;
    text-align: center;
}
#error {
    background-color: lightblue;
    margin: 0 auto;
}
.content-404 {
    height: 340px;
    margin: 0 0 80px;
    padding: 0px 0;
    background-position: center bottom;
}
.page-header {
    padding-bottom: 37px;
    padding-top: 50px;
    border-bottom: 0px;
}
.page-content {
    margin: 0 auto;
    text-align: center;
}
.page-content h2 {
    line-height: 1.8em;
    text-align: center;
}
.page-content h3 {
    font-size: 18px;
    padding-bottom: 24px;
}
.page-content p {
    padding-top: 24px;
    padding-bottom: 20px;
}
.page-content a:link {
    color: #45ac9d;
    text-decoration: underline;
}